@model Nop.Plugin.Widgets.Banner.Models.BannerModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<div class="cards-group">
    <div class="card card-default card-popup">

        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="PictureId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="BannerName" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="BannerName" placeholder="@T("Plugins.Widgets.Banner.Field.Hint.BannerName")" />
                    <span asp-validation-for="BannerName"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="BannerDescription" />
                </div>
                <div class="col-sm-9">
                    <nop-textarea asp-for="BannerDescription" placeholder="@T("Plugins.Widgets.Banner.Field.Hint.BannerDescription")" />
                    <span asp-validation-for="BannerDescription"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="Link" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Link" placeholder="@T("Plugins.Widgets.Banner.Field.Hint.Link")" />
                    <span asp-validation-for="Link"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="LinkName" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="LinkName" placeholder="@T("Plugins.Widgets.Banner.Field.Hint.LinkName")" />
                    <span asp-validation-for="LinkName"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
            <div class="form-group row" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-sm-3">
                    <nop-label asp-for="StoreId" />
                </div>
                <div class="col-sm-9">
                    <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                    <span asp-validation-for="StoreId"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="Published" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>

        </div>
    </div>
</div>
